<div class="navbar navbar-expand-sm navbar-momentum sticky-top">
  <div class = "container-fluid">
    <%# start of left side %>
    <%= link_to "#top" do %>
      <% image_tag "logo_momentum.png", class:"navbar-logo" %>
    <% end %>
    <%# end of left side %>
    <%# start of right side %>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto list-group-horizontal justify-content-between">
        <li>
          <p class="nav-item">
            <%= link_to "Accueil", "/", class: "nav-link text-dark" %>
          </p>
        </li>
        <li>
          <p class="nav-item">
            <%= link_to "Convictions", convictions_path, class: "nav-link text-dark" %>
          </p>
        </li>
        <li>
          <p class="nav-item">
            <%# link_to "Accompagnements", accompagnements_path, class: "nav-link text-dark" %>
          </p>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Accompagnements</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/visionning">Visionning</a>
            <a class="dropdown-item" href="/leadership">Leadership coaching & culture managériale</a>
            <a class="dropdown-item" href="/transforming">Transforming</a>
          </div>
        </li>
        <li>
          <p class="nav-item">
            <%= link_to "Inspiration", "https://medium.com/@czmclaudiu", target: :_blank, class: "nav-link text-dark" %>
          </p>
        </li>
        <li>
          <p class="nav-item">
            <%= link_to "Contact", "/#contact", class: "nav-link text-dark" %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
