
<div class="navbar navbar-expand-sm navbar-momentum">
  <div class="container-fluid">
    <%# start of left side %>
    <%= link_to "#top" do %>
      <% image_tag "logo_momentum.png", class:"navbar-logo" %>
    <% end %>
    <h2> MOMENTUM leadership </h2>
    <%# end of left side %>
    <%# start of right side %>
    <div >
      <ul class="navbar-nav me-auto">
          <p class="nav-item">
            <%= link_to "Accueil", "/", class: "hdp-text nav-link text-dark" %>
          </p>
          <p class="nav-item">
            <%= link_to "Nos accompagnements", accompagnements_path, class: "hdp-text nav-link text-dark" %>
          </p>
          <p class="nav-item">
            <%# link_to "Notre positionnement", "#what", class: "hdp-text nav-link text-dark" %>
          </p>
          <p class="nav-item">
            <%= link_to "Inspiration", "https://medium.com/@czmclaudiu", target: :_blank, class: "hdp-text nav-link text-dark" %>
          </p>
          <p class="nav-item">
            <%# link_to "Nos références", "#references", class: "hdp-text nav-link text-dark" %>
          </p>
          <p class="nav-item">
            <%= link_to "Contact", "/#contact", class: "hdp-text nav-link text-dark" %>
          </p>
      </ul>
    </div>
  </div>
</div>
