<div class = "equipe-container">
  <h1 class = "pl-5 ml-5"> Qui sommes nous ? </h1>
  <div class = "seventy-container">
    <div class = "accompagnement pb-5" >
      <p> <strong> Momentum Leadership est un cabinet de conseil et coaching fondé en 2010 par François Cadet. </strong> </p>
      <p> <strong> Momentum Leadership s’appuie sur une communauté sélective d’executive coachs, consultants et experts
      très expérimentés autour de convictions et de valeurs partagées. </strong> </p>
      <p> Ces professionnels travaillent régulièrement ensemble ; ils sont profondément engagés sur les aspects déontologiques
      (chartes SFCoach/EMCC/ICF) et ont en outre : </p>
      <ul>
        <li> une forte expérience de l’entreprise </li>
        <li> un « track-record » éprouvé, </li>
        <li> un haut niveau de recommandation de la part de leurs clients et de leurs pairs </li>
      </ul>
      <div class = "two-columns pb-3">
        <div class = "column-paragraph">
          <div class = "column-text">
            <p> <strong>François Cadet </strong>, fondateur de Momentum, a une expérience de plus de 30 ans dans l’accompagnement de dirigeants,
            de managers et de démarches de transformation d’entreprises auprès d’une quarantaine d’organisations : groupes du CAC40,
            ETI et scale-up. </p>
            <p> Ce qui l'anime: </p>
            <ul>
              <li> Accompagner les équipes dirigeantes (Comex, Codir, top management, ..) pour les aider à créer une dynamique
              positive autour d’un sens partagé, </li>
              <li> Aider à développer des leaders moteurs du changement à tous niveaux de l’organisation,  </li>
              <li> Faciliter les relations et la co-construction transverse à l’échelle des organisations </li>
            </ul>
            <p> Il a exercé auparavant des responsabilités de Direction et d’associé au sein de grands cabinets de conseil et
            coaching (Accenture, Gemini consulting, Transformance). Il a également exercé des responsabilités de Direction
            financière chez Nintendo France/Bénélux. </p>
            <p> Diplômé de Sciences-Po Paris (où il a été maître de conférence pendant 10 ans), et également formé à l’INSEAD
            (International Executive Program - Singapour). <br>
            Francois est certifié de l’approche Element Humain (1) et est formé à l’approche systémique (F. BALTA) <br>
            François enseigne le coaching depuis 2016 au sein de l’Ecole Transformance « Coach & Team ». </p>
          </div>
        </div>
        <div class = "column">
          <%= image_tag "francois_cadet.png", class:"article-pic" %>
        </div>
      </div>
    </div>
    <div class = "accompagnement pb-5" >
      <h3 class = "pt-3"> Nos valeurs </h3>
      <ul>
        <li> <strong> Sens </strong> : le sens est indispensable à l’expression des talents et du potentiel des personnes et des organisations </li>
        <li> <strong> Singularité </strong> :  l’unicité de chaque collaborateur et de chaque organisation est une richesse
        extraordinaire pour le collectif ; reconnaitre sa singularité est en outre une source d’estime de soi, qui nourrit la performance collective </li>
        <li> <strong> Impact </strong> : nous cherchons à créer un impact significatif dans tous nos accompagnements, au service des besoins de nos clients </li>
      </ul>
    </div>
  </div>
  <h3 class = "pt-3"> Executive coach </h3>
  <div class = "coaches">
    <div class = "coach">
      <div class = "front">
        <%= image_tag "cecile_cellier.png", class:"coach-pic" %>
        <p class = "pt-3 text-dark"> Cécile Cellier </p>
        <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
      </div>
      <div class = "back">
       <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
        <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>
    <div class = "coach">
      <div class = "front">
        <%= image_tag "olivier_dekindt.jpeg", class:"coach-pic" %>
        <p class = "pt-3 text-dark"> Olivier Dekindt </p>
        <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
      </div>
      <div class = "back">
       <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
        <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>
    <div class = "coach">
      <div class = "front">
        <%= image_tag "pierre_etienne_bost.jpeg", class:"coach-pic" %>
        <p class = "pt-3 text-dark"> Pierre Etienne Bost </p>
        <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
      </div>
      <div class = "back">
       <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
        <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>
    <div class = "coach">
      <div class = "front">
        <%= image_tag "pascal_pougnet.jpg", class:"coach-pic" %>
        <p class = "pt-3 text-dark"> Pascal Pougnet </p>
        <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
      </div>
      <div class = "back">
       <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
        <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>
    <div class = "coach">
      <div class = "front">
        <%= image_tag "marion_genot.jpeg", class:"coach-pic" %>
        <p class = "pt-3 text-dark"> Marion Genot </p>
        <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
      </div>
      <div class = "back">
       <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
        <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>
    <div class = "coach">
      <div class = "front">
        <%= image_tag "marie_emmanuelle.jpeg", class:"coach-pic" %>
        <p class = "pt-3 text-dark"> Marie Emmanuelle </p>
        <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
      </div>
      <div class = "back">
       <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
        <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>
  </div>
  <h3 class = "pt-3"> Consultants </h3>
  <div class = "coaches">
    <div class = "coach">
      <div class = "front">
        <%= image_tag "dominique_ganiage.jpeg", class:"coach-pic" %>
        <p class = "pt-3 text-dark"> Dominique Ganiage </p>
        <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
      </div>
      <div class = "back">
       <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
        <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>
  </div>
</div>
