<div class = "container-homepage pt-5" id="top">
  <div class = "container-start">
    <div class="text pt-5">
      <h1 class = pt-5>Notre raison d'être</h1>
      <p class = "pt-5"> <strong> Développer les capacités de leadership et de transformation des personnes et des organisations </strong>
                        afin de leur permettre d’évoluer dans la complexité et de libérer leur plein potentiel, en intégrant les
                        3 dimensions : People, Planet, Profit.* </p>
      <p> * 3P : concept défini par John Elkington </p>
    </div>
  </div>
  <div class = "container-who text-center" id="who">
    <div >
      <h1 class = pt-5>Nos accompagnements portent sur 3 domaines :</h1>
      <div class = "offers d-flex align-content-center justify-content-center">
        <div class = "offer">
          <%= link_to "Visionning", "/accompagnements#visionning", class: "text-dark h2 text-decoration-none" %>
          <ul>
          <li> Vision partagée </li>
          <li> Enjeux de développement durable </li>
          </ul>
          <%= link_to "En savoir plus", "/accompagnements#visionning", class: "text-dark h6 text-decoration-none" %>
        </div>
        <div class = "offer middle-offer-borders">
          <%= link_to "Leadership coaching & culture managériale", "/accompagnements#leadership", class: "text-dark h2 text-decoration-none" %>
          <ul>
          <li> Accompagnement de la personne dirigeante </li>
          <li> Accompagnement des équipes dirigeantes </li>
          <li> Coaching systémique du top management </li>
          <li> Executive coaching </li>
          </ul>
          <%= link_to "En savoir plus", "/accompagnements#leadership", class: "text-dark h6 text-decoration-none" %>
        </div>
        <div class = "offer">
          <%= link_to "Transforming", "/accompagnements#transforming", class: "text-dark h2 text-decoration-none" %>
          <ul>
          <li> Transversalité et intelligence collective </li>
          <li> Accompagnement des agents de changements </li>
          <li> Coaching de pilotage </li>
          </ul>
          <%= link_to "En savoir plus", "/accompagnements#transforming", class: "text-dark h6 text-decoration-none" %>
        </div>
      </div>
    </div>
  </div>
  <div class = "container-what" id="what">
    <div class="text">
      <h1 class = pt-5>Qui sommes-nous ?</h1>
      <p class = "pt-5">François Cadet a fondé Momentum en 2010.</p>
      <p> Momentum s’appuie sur un réseau très sélectif de consultants-coachs certifiés, partageant des
          valeurs communes, profondément engagés sur les aspects déontologiques, et qui : <p>
      <ul>
        <li> Maitrisent des approches puissantes pour permettre aux Dirigeant, managers et aux
             organisations d’exprimer leur plein potentiel </li>
        <li> Partagent une connaissance pointue de l'entreprise </li>
        <li> Bénéficient d’un haut niveau de recommandation de la part de leurs pairs et de leurs clients </li>
      </ul>
      <h3 class = "pt-3"> Nos coachs </h3>
      <div class = "coaches">
        <div class = "coach">
          <div class = "front">
            <%= image_tag "francois_cadet.png", class:"coach-pic" %>
            <p class = "pt-3 text-dark"> Francois Cadet </p>
            <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
          </div>
          <div class = "back">
           <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
        </div>
        <div class = "coach">
          <div class = "front">
            <%= image_tag "francois_cadet.png", class:"coach-pic" %>
            <p class = "pt-3 text-dark"> Francois Cadet </p>
            <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
          </div>
          <div class = "back">
           <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
        </div>
        <div class = "coach">
          <div class = "front">
            <%= image_tag "francois_cadet.png", class:"coach-pic" %>
            <p class = "pt-3 text-dark"> Francois Cadet </p>
            <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
          </div>
          <div class = "back">
           <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
        </div>
        <div class = "coach">
          <div class = "front">
            <%= image_tag "francois_cadet.png", class:"coach-pic" %>
            <p class = "pt-3 text-dark"> Francois Cadet </p>
            <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
          </div>
          <div class = "back">
           <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "container-references" id="references">
    <div class="text">
      <h1 class = pt-5>Cas clients</h1>
      <div class = "three-columns">
        <div class = "column-3">
        <strong> Pour un groupe du CAC 40 </strong> <br>
        Evolution de la culture de leadership : démarche de coaching individuel du top 80 avec un corps de coachs dédié
        et accompagnement de Codirs de BU. <br>
        Satisfaction élevée des personnes coachées (appréciation globale de type « Net Promoted score » supérieure à 9/10)
        ; résultats tangibles constatés par la Direction Générale sur l’évolution des comportements.
        </div>
        <div class = "column-3">
        <strong> Pour une ETI, domaine du web </strong> <br>
        Accompagnement de la transformation de l’entreprise (nouveaux business et clients) sur les aspects de la conduite
        du changement. <br>
        En particulier aide à l’évolution des postures managériales du top 40 (Codir élargi), ainsi que des managers
        commerciaux (population clé) : séminaires pour développer les prises de conscience et expérimentations , sessions de co-développement.
        </div>
        <div class = "column-3">
        <strong> Pour une scale-up, design de meubles haut de gamme </strong> <br>
        Coaching du duo Fondatrice-DG pendant 2 ans : partage des représentations du business et de l’évolution de l’entreprise,
        aide sur la conduite de la transformation et à la prise de décision sur les aspects RH, régulation des tensions. <br>
        Accompagnement du Codir autour de l’élaboration d’une vision partagée et de son déploiement.
        </div>
        <div class = "column-3">
        <strong> Pour une BU d’un groupe du CAC 40 </strong> <br>
        Accompagnement d’une équipe internationale transverse de business development et coaching de sa responsable :
        enjeu de doubler le CA en 5 ans. <br>
        Développement de la cohésion de l’équipe autour d’une vision partagée, lancement d’une démarche pour développer
        l’adhésion et la collaboration des zones géographiques au niveau mondial. <br>
        Projet identifié comme une « pépite » par la Direction Générale du groupe.
        </div>
        <div class = "column-3">
        <strong> Pour un cabinet de conseil en stratégie dans les top 3 mondiaux </strong> <br>
        Coaching individuel d’associés à l’international. <br>
        Accompagnement sur des questions de leadership en interne, développement et engagement des équipes ; appui pour
        des questions de relation avec les clients, balayage d’ « angles morts » au niveau du positionnement de l’associé.
        </div>
        <div class = "column-3">
        <strong> Pour un groupe industriel leader au Magreb </strong> <br>
        Aide à la coordination de la démarche de coaching individuel du top 100, dans un contexte de transformation
        profonde du groupe (diversification de business) et de confiance dans la capacité de chacun à apprendre et à se
        développer tout au long de sa vie. <br>
        Accompagnement du développement des « agents du changement » internes (une centaine de personnes). <br>
        Design et mise en œuvre de parcours de leadership, sur la base d’un « mindset de coaching ». Dispositif
        pérennisé pour un déploiement dans l’ensemble du groupe.
        </div>

        <div class = "column-3">
        <strong> Pour un leader français du secteur du tourisme (ETI) </strong> <br>
        Nécessité de se réinventer : accompagnement du Codir et de la démarche de co-construction de la Vision à
        l’échelle internationale (Europe-Asie-Amérique) ; aide à l’orchestration de la démarche de transformation ;
        accompagnement des équipes ressources (120 personnes) pour les aider à grandir en leadership et en cohésion transverse. <br>
        Transformation réalisée à tous niveaux : business models, approches marketing et commerciales, Talents, Valeurs,
        principes de management. Rebond pérenne de l’entreprise.
        </div>
        <div class = "column-3">
        <strong> Pour un groupe d’Ingéniérie (ETI) </strong> <br>
        Lancement d’une démarche à l’échelle du groupe pour poser le cadre de son développement international (co-construction inter-BU). <br>
        Accompagnement du Codir de la principale BU pour développer une vision partagée et balayer les « angles morts » de
        leadership (360°, séminaires pour permettre les prises de conscience et de nouveaux comportements).
        </div>
        <div class = "column-3">
        <strong> Pour un organisme public du secteur de l’énergie </strong> <br>
        Accompagnement de la transformation managériale : coaching de pilotage pour aider à mener la démarche, appui pour
        l’organisation de séminaires avec l’ensemble des managers (environ 200 personnes). <br>
        Accompagnement du Codir pour développer les échanges et la cohésion autour d’enjeux managériaux partagés. <br>
        Lancement d’un parcours de leadership : haut niveau de satisfaction.
        </div>
        <div class = "column-3">
        <strong> Pour une entreprise du secteur du voyage (scale-up) </strong> <br>
        Coaching du dirigeant dans un premier temps. <br>
        Coaching des membres du Codir sur leurs management et style de leadership. <br>
        Accompagnement du Codir en tant qu’équipe pour partager les représentations et renforcer les relations et la confiance.
        </div>
        <div class = "column-3">
        <strong> Pour le laboratoire d’un grand groupe hospitalier </strong> <br>
        Accompagnement post-fusion (rapprochement de plusieurs labos, au total environ 700 personnes) <br>
        Accompagnement du Codir à travers une série de séminaires : co-élaboration d’une vision partagée et d’une
        démarche de transformation, traitement de tensions, définition et mise en œuvre de principes de management. <br>
        Coachings de managers, notamment dans le cadre de résolution de conflits.
        </div>
        <div class = "column-3">
        <strong> Pour un cabinet d’avocats </strong> <br>
        Coaching individuel d’associés ou de futurs associés pour les préparer à leur prise de poste <br>
        Accompagnement sur des thèmes d’estime et confiance en soi, d’impact sur les autres, de prise de conscience du
        rôle de business development des associés et comment adopter les attitudes ad hoc, de contribution à la gouvernance du cabinet, …
        </div>
      </div>
    </div>
  </div>
  <div class = "container-contact" id="contact">
    <div class="text">
      <h1 class = pt-5>Contact</h1>
      <p> François Cadet </p>
      <p> <i class="fa-light fa-at"></i>fcadet@gmail.com </p>
      <p> <i class="fa-solid fa-phone"></i> 06 63 14 28 94 </p>
      <p> <i class="fa-solid fa-house"></i> Momentum, 1 rue de Stockholm, 75008 Paris </p>
      <%= image_tag "francois_cadet.png", class:"navbar-logo" %>
  </div>
</div>
