<div class = "container-homepage pt-5" id="top">
  <div class = "container-start">
    <div class="text pt-5">
      <h1 class = pt-5>Notre raison d'être</h1>
      <p class = "pt-5">Développer au sein des organisations et de leurs éco-systèmes un mode de leadership impactant, qui
                        permet de concilier accomplissement des personnes et développement durable avec la performance
                        économique (People, Planet, Profit).</p>
    </div>
  </div>
  <div class = "container-who text-center" id="who">
    <div >
      <h1 class = pt-5>Nos accompagnements portent sur 3 domaines :</h1>
      <div class = "offers d-flex align-content-center justify-content-center">
        <div class = "offer">
          <%= link_to "Visionning", "/accompagnements#visionning", class: "text-dark h2 text-decoration-none" %>
          <ul>
          <li> Co-élaboration d'une vision partagée </li>
          <li> Enjeux de développement durable au coeur </li>
          </ul>
        </div>
        <div class = "offer middle-offer-borders">
          <%= link_to "Leadership developement", "/accompagnements#leadership", class: "text-dark h2 text-decoration-none" %>
          <ul>
          <li> Accompagnement des équipes dirigeantes </li>
          <li> Développement du leadership - top management et managers « moteurs » </li>
          <li> Executive coaching </li>
          </ul>
        </div>
        <div class = "offer">
          <%= link_to "Transforming", "/accompagnements#transforming", class: "text-dark h2 text-decoration-none" %>
          <ul>
          <li> Transversalité et intelligence collective </li>
          <li> Accompagnement des agents de changements </li>
          <li> Coaching de pilotage </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class = "container-what" id="what">
    <div class="text">
      <h1 class = pt-5>Qui sommes-nous ?</h1>
      <p class = "pt-5">François Cadet a fondé Momentum en 2010.</p>
      <p> Momentum s’appuie sur un réseau très sélectif de consultants-coachs certifiés, partageant des
          valeurs communes, profondément engagés sur les aspects déontologiques, et qui : <p>
      <ul>
        <li> Maitrisent des approches puissantes pour permettre aux Dirigeant, managers et aux
             organisations d’exprimer leur plein potentiel </li>
        <li> Partagent une connaissance pointue de l'entreprise </li>
        <li> Bénéficient d’un haut niveau de recommandation de la part de leurs pairs et de leurs clients </li>
      </ul>
      <h3 class = "pt-3"> Nos coachs </h3>
      <div class = "coaches">
        <div class = "coach">
          <div class = "front">
            <%= image_tag "francois_cadet.png", class:"coach-pic" %>
            <p class = "pt-3 text-dark"> Francois Cadet </p>
            <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
          </div>
          <div class = "back">
           <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
        </div>
        <div class = "coach">
          <div class = "front">
            <%= image_tag "francois_cadet.png", class:"coach-pic" %>
            <p class = "pt-3 text-dark"> Francois Cadet </p>
            <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
          </div>
          <div class = "back">
           <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
        </div>
        <div class = "coach">
          <div class = "front">
            <%= image_tag "francois_cadet.png", class:"coach-pic" %>
            <p class = "pt-3 text-dark"> Francois Cadet </p>
            <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
          </div>
          <div class = "back">
           <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
        </div>
        <div class = "coach">
          <div class = "front">
            <%= image_tag "francois_cadet.png", class:"coach-pic" %>
            <p class = "pt-3 text-dark"> Francois Cadet </p>
            <p class = "coach-text"> C'est un excellent coach qui a commencé en 1845 et à coaché la Reine d'Angleterre. </p>
          </div>
          <div class = "back">
           <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "container-references" id="references">
    <div class="text">
      <h1 class = pt-5>Cas clients</h1>
      <p class = "pt-5">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
  <div class = "container-contact" id="contact">
    <div class="text">
      <h1 class = pt-5>Contact</h1>
      <ul>
        <li>François Cadet </li>
        <li>fcadet@gmail.com </li>
        <li>0101010101 </li>
      </ul>
      <%= image_tag "francois_cadet.png", class:"navbar-logo" %>
  </div>
  <div class = "back">
            <p class = "pt-3 text-dark"> Plus de détails sur François Cadet </p>
            <p class = "coach-text"> Il aime aussi beaucoup manger des carottes, des navets et de la soupe.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
          </div>
</div>
